.start-page {
    text-align: center;
    padding-top: 7.175vh;
    min-height: 85.838vh;
    margin: 0 11.03vw;
}

.start-title {
    max-width: 920px;
    font-size: 4rem;
    font-weight: 700;
    color: #1C1B2F;
}

.start-description {
    max-width: 558.71px;
    font-size: 1.25rem;
    padding: 2.12vh 0;
    margin-left: 12.25vw;
    color: #828195;
}

.desc-pic {
    position: absolute;
    top: 40.76vh;
    left: 9.7vw;
}